<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <center>
            <h1>Cart Items</h1>
        </center>
    </main>

    <%- include('../includes/end.ejs') %>
